<div class="row" style="margin-top: 30px">

  <div class="card-panel col s8 offset-s2">

    <users-list></users-list>

    <div class="row" style="margin-top: 30px">

      <div class="col s12 offset-s2">

        <a routerLink="insert-user" class="green accent-3 btn waves-effect waves-light" type="submit" name="action">INSERIR USUÁRIO
          <i class="material-icons right">add</i>
        </a>

        <a routerLink="update-user" class="orange darken-1 btn waves-effect waves-light" type="submit" name="action" style="margin-left: 10px">ALTERAR USUÁRIO
          <i class="material-icons right">edit</i>
        </a>

        <a routerLink="delete-user" class="red darken-1 btn waves-effect waves-light" type="submit" name="action" style="margin-left: 10px">EXCLUIR USUÁRIO
          <i class="material-icons right">highlight_off</i>
        </a>

      </div>

    </div>

  </div>

  <div class="row" style="margin-top: 30px">

    <div class="card-panel col s8 offset-s2">

      <router-outlet></router-outlet>

    </div>

  </div>

</div>