<div class="row" style="margin-left: 20px; margin-top: 20px">

  <h5> Deletar Usuário </h5>

</div>

<div class="row">

  <div class="col s10 offset-s1">

    <form method="GET" #frm="ngForm" (ngSubmit)="searchUser(frm)">

      <input name="search" id="search" type="text" class="validate" [(ngModel)]="search" required>
      <label for="search">Que usuário deseja remover?</label>

      <button type="submit" class="btn btn-large waves-effect waves-light red darken-1" style="float: right; margin-bottom: 10px"> Pesquisar e Remover
        <i class="material-icons right">highlight_off</i>
      </button>

    </form>

  </div>

</div>
