<nav class="red darken-2">

  <div class="nav-wrapper">
    <!--a routerLink="" class="brand-logo" style="margin-left: 20px"><img src="/" height="60px" width="50px"></a-->
    <ul id="nav-mobile" class="right hide-on-med-and-down default-font">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/users-register">Cadastro de Usuários</a></li>
      <li><a routerLink="/opcao1">Opção 1</a></li>
      <li><a routerLink="/opcao2">Opção 2</a></li>
      <li><a routerLink="/opcao3">Opção 3</a></li>
    </ul>
  </div>

</nav>